
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', monospace !important;
    display: flex;
    justify-content: center;
}

canvas {
  position: absolute;
}

select {
  font-family: 'Poppins', monospace;
}

@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

.viewDiv {
    margin: 0;
    flex: 1 1 calc(60%);
    /* height: 100%;
    width: 100%; */
}

@media only screen and (max-width: 800px) {
    .viewDiv {
        flex: 1 calc(50%);
    }
}

#sidebar {
z-index: 99;
position: absolute;
top: 0;
right: 0;
height: 100%;
background: rgba(0, 0, 0, 0.5);
width: 320px;
}

#text {
  color: white;
  padding: 3%;
}

#charts {
  height: 100%;
  flex: 1 1 calc(40%);
  background-color: #f6f6f7;
  display: flex;
  overflow-x: overlay;
  overflow-y: auto !important;
}

#regions_ {
  display: block;
}

@media only screen and (max-width: 550px) {
  #regions_ {
    display: none !important;
  }
}

#regionsChart {
    /* flex: 1 1 calc(40%); */
    background-color: #f6f6f7;
    /* display: flex; */
    overflow-x: auto;
}

@media only screen and (max-width: 550px) {
    #resultCanvas {
        height: 200px !important;
        width: 100% !important;
    }
}

@media only screen and (max-height: 600px) {
    #resultCanvas_2 {
        display: none !important;
    }
}

@media only screen and (max-width: 550px) {
  #principal-page {
    font-size: 13px;
  }
}


.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  widtH: 100%;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

div.panel.show {
  display: block;
}